@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
:root {
  /*## Colors*/
  /*### Primary*/
  --Blue: hsl(223, 87%, 63%);
  --Blue-Hover: hsl(223, 76%, 67%);
  /*### Secondary*/
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  /*### Neutral*/
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  /*## Typography*/
  /*- Font size: 20px*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  /*Responsive*/
}
body .container {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3vw;
  padding-top: 5vw;
  position: relative;
}
body .container .img {
  width: 10%;
  height: 2.5vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -5%;
}
body .container .img img {
  width: 20vw;
}
body .container .title {
  font-size: 20px;
  color: var(--Gray);
  font-weight: 200;
  text-align: center;
  margin-bottom: 2vh;
}
body .container .title span {
  color: var(--Very-Dark-Blue);
  font-weight: 600;
}
body .container .subtitle {
  font-size: 15px;
  color: #000;
  font-weight: 100;
  text-align: center;
  margin-bottom: 5vh;
}
body .container input {
  width: 26vw;
  height: 5vh;
  border-radius: 1.2rem;
  float: left;
  margin-bottom: 10vh;
  border: 1px solid var(--Gray);
  text-indent: 25px;
  display: flex;
  position: relative;
  margin-left: 12vw;
}
body .container input::placeholder {
  color: var(--Gray);
}
body .container .error-msg {
  color: var(--Light-Red);
  font-size: 10px;
  margin-top: 7vh;
  margin-left: 14vw;
  position: absolute;
  float: left;
  visibility: hidden;
}
body .container .btn {
  background: var(--Blue);
  width: 15vw;
  height: 5vh;
  border-radius: 1.2rem;
  border: none;
  color: #fff;
  position: absolute;
  top: 18%;
  left: 67%;
  transform: translate(-50%, -50%);
  margin-top: 2vh;
  cursor: pointer;
  float: right;
}
body .container .btn:hover {
  background: var(--Blue-Hover);
}
body .container .illustration {
  margin-top: 20vh;
  width: 45vw;
  height: 50vh;
  position: relative;
  margin: 0 auto;
  margin-top: 20vh;
}
body .container .illustration img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body .container .active {
  visibility: visible;
}
body .icons {
  position: relative;
  width: 10vw;
  height: 5vh;
  display: flex;
  margin: 0 auto;
  margin-top: 5vh;
}
body .icons .circle {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  position: relative;
  border: 1px solid var(--Pale-Blue);
  margin: 0 auto;
}
body .icons .circle i {
  margin: 25% 25%;
  background: none;
  color: var(--Blue);
  justify-content: center;
  cursor: pointer;
}
body .icons .circle:hover {
  background: var(--Blue);
}
body .icons .circle:hover i:hover {
  color: #fff;
}
body .copyright {
  color: var(--Gray);
  width: 60vw;
  height: 5vh;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 1vh;
  margin-left: 28vw;
}
@media (min-width: 580px) and (max-width: 1100px) {
  body .container input {
    width: 42vw;
    margin-left: 5%;
  }
  body .container .btn {
    width: 23vw;
    top: 16.5vh;
    left: 63vw;
  }
  body .container .illustration img {
    width: 70vw;
    margin-left: -20%;
  }
  body .container .icons {
    width: 25vw;
  }
  body .container .icons i {
    margin: 25%;
  }
  body .container .copyright {
    color: var(--Gray);
    width: 60vw;
    height: 5vh;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 2vh;
    margin-left: 15vw;
  }
}
@media screen and (max-width: 580px) {
  body .container {
    width: 100vw;
    height: 80vh;
    padding: 5vw;
    position: relative;
    box-shadow: none;
  }
  body .container .img {
    width: 20vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  body .container .img img {
    width: 20vw;
  }
  body .container .title {
    font-size: 20px;
    color: var(--Gray);
    font-weight: 200;
    text-align: center;
    margin-bottom: 2vh;
  }
  body .container .title span {
    color: var(--Very-Dark-Blue);
    font-weight: 600;
  }
  body .container .subtitle {
    font-size: 15px;
    color: #000;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5vh;
  }
  body .container input {
    width: 80vw;
    height: 5vh;
    border-radius: 1.2rem;
    margin-left: 6%;
    margin-bottom: 10vh;
    border: 1px solid var(--Gray);
    text-indent: 25px;
    display: flex;
    position: relative;
  }
  body .container input::placeholder {
    color: var(--Gray);
  }
  body .container .error-msg {
    color: var(--Light-Red);
    font-size: 10px;
    margin-top: 6vh;
    margin-left: 15vw;
    visibility: hidden;
    position: absolute;
  }
  body .container .btn {
    background: var(--Blue);
    width: 80vw;
    height: 5vh;
    border-radius: 1.2rem;
    border: none;
    color: #fff;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 12vh;
    cursor: pointer;
  }
  body .container .btn:hover {
    background: var(--Blue-Hover);
  }
  body .container .illustration {
    margin-top: 6vh;
    width: 80vw;
    height: 30vh;
    position: relative;
  }
  body .container .illustration img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70%;
    left: 15%;
    margin-left: -12%;
  }
  body .container .active {
    visibility: visible;
  }
  body .icons {
    position: relative;
    width: 30vw;
    height: 5vh;
    display: flex;
    margin: 0 auto;
    margin-top: 30vh;
  }
  body .icons .circle {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    position: relative;
    border: 1px solid var(--Pale-Blue);
    margin: 0 auto;
  }
  body .icons .circle i {
    margin: 25% 25%;
    background: none;
    color: var(--Blue);
    justify-content: center;
    cursor: pointer;
  }
  body .icons .circle:hover {
    background: var(--Blue);
  }
  body .icons .circle:hover i:hover {
    color: #fff;
  }
  body .copyright {
    color: var(--Gray);
    width: 60vw;
    height: 5vh;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 2vh;
  }
}
body .attribution {
  position: absolute;
  bottom: 0;
  left: 3vw;
}

/*# sourceMappingURL=styles.css.map */
